.custom_scrollbar {
  overflow-x: hidden;
  overflow-y: visible;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 999px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.custom_border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23E4E4E4' stroke-width='4' stroke-dasharray='9%2c 6' stroke-dashoffset='4' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 12px;
}