.custom_border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23E5E5E5' stroke-width='4' stroke-dasharray='9%2c 6' stroke-dashoffset='4' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 16px;
}
